body {
  background-image: url("../AboutMe/bg1.jpg");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.title {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  margin-bottom: 25px;
  background-color: cadetblue;
  border-radius: 10px;
  opacity: 0.7;
  border-radius: 25px;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  padding: auto;
}
h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding: auto;
}

p {
  display: flex;
  padding-top: 10px;
  font-size: 20px;
  padding-left: 10px;
  text-align: justify;
}
.comp-img {
  display: flex;
  height: auto;
  border-radius: 25px;
  max-width: 100%;
}

.personal-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 10px;
}

h4 {
  display: flex;
  padding-left: 10px;
  font-size: 20px;
  text-align: justify;
}

.contect-info {
  font-size: 18px;
  text-align: justify;
}

.tech-info {
  font-size: 18px;
  text-align: justify;
}

.comp-img {
  height: 600px;
  border-radius: 25px;
}

.content {
  background-color: #dbf9fc;
  opacity: 0.7;
  border-radius: 25px;
  margin-left: 15px;
}
